[submodule "bio_ik"]
	path = bio_ik
	url = https://github.com/TAMS-Group/bio_ik.git
[submodule "hydra_description"]
	path = hydra_description
	url = git@github.com:alexarbogast/hydra_description.git
[submodule "za_description"]
	path = za_description
	url = git@github.com:alexarbogast/za_description.git
