[submodule "src/bio_ik"]
	path = src/bio_ik
	url = git@github.com:TAMS-Group/bio_ik.git
	branch = master
[submodule "src/hydra_ros"]
	path = src/hydra_ros
	url = https://github.com/alexarbogast/hydra_ros
	branch = ampf
[submodule "src/za_ros"]
	path = src/za_ros
	url = https://github.com/alexarbogast/za_ros
	branch = master
