<?xml version="1.0"?>
<launch>
  <arg name="rviz" default="true"/>

  <!-- MoveIt Configuration -->
  <arg name="pipeline" default="ompl"/>
  <arg name="debug" default="false"/>
  <arg name="load_robot_description" default="true"/>

  <!-- Robot Customization -->
  <arg name="arm_id" default="za" doc="Name of the robot launch"/>
  <arg name="joint_states_source_list" default="[$(arg arm_id)/joint_states]"/>
            
  <!-- publish the robot state (tf transforms) -->
  <remap from="joint_states" to="za/joint_states" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Launch za6 move group -->
  <include file="$(find za_moveit_config)/launch/move_group.launch">
    <arg name="moveit_controller_manager" value="za" />
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="pipeline" value="$(arg pipeline)"/>
    <arg name="load_robot_description" value="$(arg load_robot_description)"/>
  </include>

  <!-- Run Rviz and load the hydra config  -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" 
        args="-d $(find za_moveit_planning)/config/za.rviz"/>
</launch>
